<html>
<head></head>
<body>
<title>list variables</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% block content %}
{% if list_variables %}
<div class="container">
  <h3>Result list variables</h3>
<table class="table table-bordered">
<thead><tr>
<th>name variable</th>
<th>value variable</th>
</tr></thead>
<tbody>
{% for variable in list_variables %}
<tr>
<td>{{variable.namevariable}}</td>
<td>{{variable.valuevariable}}</td>
</tr>
{% endfor %}
</div>
{% else %}
<div class="Container">	
<h3>List variables is empty</h3> 
</div>
{% endif %}
{% endblock content %}
</body>
</html>